{{#each sections as |section|}}
  <div class="section">
    <header>{{section.header}}</header>
    <ul>
      {{#each section.items as |item|}}
        <li>{{item}}</li>
      {{/each}}
    </ul>
  </div>
{{/each}}
