{{#if (has-block)}}
  {{yield (hash blocks=this.blocks raw=this.raw)}}
{{else}}
  {{#each this.blocks as |block|}}
    <section class="humans-txt-section">
      <header class="humans-txt-header">{{block.header}}</header>
      <ul class="humans-txt-items">
        {{#each block.items as |item|}}
          <li class="humans-txt-item">{{item}}</li>
        {{/each}}
      </ul>
    </section>
  {{/each}}
{{/if}}
