{{#if (has-block)}}
  {{yield (hash sections=this.sections raw=this.raw)}}
{{else}}
  {{#each this.sections as |sectionBlock|}}
    <section class="humans-txt-section">
      <header class="humans-txt-header">{{sectionBlock.header}}</header>
      <ul class="humans-txt-items">
        {{#each sectionBlock.items as |item|}}
          <li class="humans-txt-item">{{item}}</li>
        {{/each}}
      </ul>
    </section>
  {{/each}}
{{/if}}
